.THIS {
	background-color: #fff;
}

.THIS .myApp {
        height:75vh;
        width:90vw;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
}

.THIS .control {
        position: fixed;
        bottom: 52px;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        z-index: 10;
}

.THIS .button {
        position: relative;
        width: 80px;
        height:80px;
}

.THIS .button:active {
        top: 5px;
}

.THIS .button > img {
        max-height: 100%;
        max-width: 100%;
}